<div class="body">
    <div>
        <h1>{{profile.name}} <small>{{profile.login}}</small></h1>
    </div>
    <form class="search ">
        <label for="userName ">Search Username </label>
        <input type="text " [(ngModel)]='username' name='userName' (keyup)='showRepos()' placeholder='Search repos' class="form-control ">
    </form>
    <div class="overlay ">
        <div class="row">
            <div class="col-md-4">

                <img src="{{profile.avatar_url}}" class="img-responsive" alt="">




            </div>
            <div class="col-md-8">
                <div class="panel panel-primary ">
                    <div class="panel panel-heading ">
                        <div>
                            <button class="btn btn-primary ">{{profile.followers}} Followers </button>
                            <button class="btn btn-primary ">{{profile.following}} Following </button>
                            <button class="btn btn-primary">{{profile.following}} Following </button>
                            <span>{{profile.following}} Following  </span><br>
                            <span>Bio:{{profile.bio}}</span>




                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="container ">

            <div class="card mt-5 " *ngFor='let repo of repos'>
                <h5 class="card-header ">{{repo.name}}</h5>
                <div class="card-body ">
                    <p class="card-text ">{{repo.description }} </p>
                    <p>Created: {{repo.created_at | date }}</p>
                    <a href="{{repo.html_url}} " class="btn btn-dark ">Go to repo</a>
                </div>
            </div>
        </div>

    </div>

</div>
