<div class="body">
    <div>
        <h1>{{profile.name}} <small>{{profile.login}}</small></h1>
    </div>
    <form class="search ">
        <label for="userName ">Search Username </label>
        <input type="text " [(ngModel)]='username' name='userName' (keyup)='showRepos()' placeholder='Search repos' class="form-control ">
    </form>
    <div class="overlay ">
        <div class="row">
            <div class="col-md-4">

                <img src="{{profile.avatar_url}}" class="img-rounded img-responsive" alt="">




            </div>
            <div class="col-md-4">

                <ul class="list-group">
                    <li class="list-group-item">Name:{{profile.name}}</li>
                    <li class="list-group-item" *ngIf="profile.bio">Bio:{{profile.bio}}</li>
                    <li class="list-group-item" *ngIf="profile.location">Location:{{profile.location}}</li>
                    <li class="list-group-item" *ngIf="profile.hirable">Available for hire{{profile.hirable}}</li>
                    <li class="list-group-item" *ngIf="profile.email">
                        <a href="emailto:{{profile.email}}"> Email:{{profile.email}}</a>></li>
                    <li class="list-group-item" *ngIf="profile.bio"> Type:{{profile.type}}</li>
                </ul>




                <!-- <!-- <br> <span>Name:{{profile.name}}</span><br>
                <span>Hirable:{{profile.hireable}}</span><br>
                <span>Location:{{profile.location}}</span><br> -->
                <!-- <span>mailto:{{profile.email}}</span>

                <a href="mailto">Email:{{profile.email}}</a> -->




            </div>
            <div class="col-md-4">


                <p>
                    <span class="label label-success">{{profile.followers}} Followers</span>
                    <br> <span class="label label-default"> Following {{profile.following}}</span><br>
                    <span class="label label-info">{{profile.public_repos}} Repositories</span><br>
                    <span class="label label-info">{{profile.public_gists}} Gists</span>

                </p>
                <!-- <button class="btn btn-primary ">{{profile.followers}} Followers </button>
                <button class="btn btn-primary ">{{profile.public_gists}} Gists </button>
                <button class="btn btn-primary">{{profile.following}}Following  </button>
                <button class="btn btn-primary">{{profile.following}} Following </button><br> -->
            </div>
        </div>
        <div class="container ">

            <div class="card mt-5 " *ngFor='let repo of repos'>
                <h5 class="card-header ">{{repo.name}}</h5>
                <div class="card-body ">
                    <p class="card-text ">{{repo.description }} </p>
                    <p>Created: {{repo.created_at | date }}</p>
                    <a href="{{repo.html_url}} " class="btn btn-dark ">Go to repo</a>
                </div>
            </div>
        </div>

    </div>

</div>