<div class="body">

    <div>
        <h1>{{profile.login}}</h1>

    </div>
    <div class="row display">
        <div class="col-md-4">
            <img src="../../../../assets/js.png" alt="JavaScript">
        </div>
        <div class="col-md-4">
            <img src="../../../../assets/gng.png" alt="Angular">
        </div>

        <div class="col-md-4 ">
            <img src="../../../../assets/py.jpeg " alt="Python ">
        </div>
    </div>

    <a href="{{profile.html_url}}" class="btn btn-primary mt-4">  Go to Github</a>
</div>
